pytube
pillow
spotipy
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
gitpython
heroku3
pyrogram==1.4.16
tgcrypto
python-dotenv
py-tgcalls==0.8.6
python-arq
youtube-search
youtube-search-python
yt-dlp
wget
git+https://github.com/LEGEND-AI/downloader
